
/* Variables */
:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: rgba(246, 255, 255, 0.82);
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}
/* Variables end */
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}
/* navbar section */
nav {
    width: auto;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: var(--primary-color);
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
}
nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}
/* end nav */
a{
    color: coral;
}
a:visited{
    color: orangered;
}
.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}
/* body / hero section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}
.hero img {
    height: 20.5rem;
    width: 20.5rem;
    margin: 20px
}

.bio {
    width: 25rem;
    padding: 0.625rem;
    margin-right: 10px;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);

}

.bio h1 {
    margin-bottom: var(--bottom-margin);
}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}
/* projects section*/
.projects {
    background-color: var(--bg-color);
    padding: 15px;
    margin-top: 2rem;
    width: auto;
    justify-content: space-evenly;
}

.project-pic {
    width: 150px;
    height: 150px;
    margin: 5px;
}

.projects-container {
    display: grid;
    grid-template: auto auto / auto auto;
    float: left;
    align-items: center;
    justify-content: space-evenly;
}

.project-container p {
    padding: 0.5rem;
}

.project-title {
    margin-bottom: var(--bottom-margin);
}

.project-details {
    margin-bottom: var(--bottom-margin);
}
.details-list{
    list-style-type: none;

}
.details-list li{
    margin-bottom: 10px;
}

.project-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
    height: 400px;
    overflow: auto;
    text-overflow: fade;
    position: sticky;
}
/* contact section */
.contact {
    margin-top: 2rem;
}

.contact h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
}
.contact-form-container label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: var(--primary-color);
}

.contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
}

.contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 2px outset var(--primary-color);
    font-size: 0.875rem;
    outline: none;
}
.github-link:hover{
    cursor: pointer;
}
.github-container{
   display: flex;
}
.github-container a{

}